<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mediclic"
        tools:targetApi="31">
        <activity
            android:name=".Marcacion.Det_marcacion"
            android:exported="false" />
        <activity
            android:name=".Marcacion.Ver_marcaciones"
            android:exported="false" />
        <activity
            android:name=".Marcacion.Add_marcacion"
            android:exported="false" />
        <activity
            android:name=".Olvide_usuario"
            android:exported="false" />
        <activity
            android:name=".Pantalladecarga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ubicacion"
            android:exported="false" />
        <activity
            android:name=".Doctores.Ver_doctores"
            android:exported="false" />
        <activity
            android:name=".Doctores.Det_doctores"
            android:exported="false" />
        <activity
            android:name=".Doctores.Add_doctores"
            android:exported="false" />
        <activity
            android:name=".Usuarios.Add_usuario"
            android:exported="false" />
        <activity
            android:name=".Horarios.Ver_horarios"
            android:exported="false" />
        <activity
            android:name=".Citas.Ver_citas"
            android:exported="false" />
        <activity
            android:name=".Citas.Det_citas"
            android:exported="false" />
        <activity
            android:name=".Citas.Add_citas"
            android:exported="false" />
        <activity
            android:name=".Principal"
            android:exported="false"
            android:label="@string/title_activity_principal"
            android:theme="@style/Theme.Mediclic.NoActionBar" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDnnPJ51BnlHT05d7I9ALDb-QRwN_BBbfU" />
    </application>

</manifest>